<p class="connect-ethereum">
    No Web3 provider detected.<br>
    Please install for example <a href="https://metamask.io/" target="_blank">MetaMask</a> in your browser (supported in Firefox / Chrome / Opera).<br>
    A guide to install MetaMask if needed: <a href="https://blog.wetrust.io/how-to-install-and-use-metamask-7210720ca047" target="_blank">Guide</a>.<br>
    Or if you prefer a <a href="https://www.youtube.com/watch?v=ZIGUC9JAAw8" target="_blank">Video Guide</a> is also available.<br>
</p>
