<mat-divider></mat-divider>

<form  fxLayout="row " fxLayoutAlign="center center">
    <div fxLayout="column " fxLayoutAlign="start center" fxLayoutGap="10px" class="example-form">
        <h3 mat-subheader>Tagging an address with tag "{{data.tag.name}}"</h3>
        <mat-form-field class="example-full-width">
            <input type="text" id="tagAddress"  matInput placeholder="Tag contract address" aria-label="Tag Contract Address" readonly [value]="data.tag.contractAddress" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" id="tagCost" matInput  placeholder="Tagging cost (Eth)" aria-label="Tagging cost" readonly [value]="data.taggingCost | weiToEther" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput id="addressToTag" name="addressToTag" [(ngModel)]="data.addressToTag" placeholder="Address to tag" aria-label="Address to tag"  maxlength="42" appRestrictTo="[a-fxA-FX0-9]" >
        </mat-form-field>
        <div *ngIf="data.addressToTag.length == 42" class="example-full-width bottom-margin" >
            <button class="example-full-width" mat-raised-button type="button" (mouseup)="onTagging()" [innerHtml]="('Tag address \'' + (data.addressToTag | colorizeAddress) + '\'') | keepHtml"></button>
        </div>
    </div>
</form>
