.table {
    margin-left: 50px;
}

.mat-column-ownTaggings {
    text-align: right;
    justify-content: flex-end;
    width: 2rem;
}

.mat-column-totalTaggings {
    text-align: right;
    justify-content: flex-end;
    width: 6rem;
}

.mat-row {
    cursor: pointer;
}
